@import "sidebar";
@import "top-menu";
@import "table";
@import "modal-window";
@import "custom-select";

* {
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 181px;
}

.wrapper {
    display: flex;
}

.main-content {
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    background-color: #F2F6FA;
}

.content{
    position: relative;
    &-button{
        position: absolute;
        top: 17px;
        right: 17px;
    }
}

.button{
    cursor: pointer;
    background: #0FC5FF;
    border-radius: 6px;
    padding: 10px 42px;
    border: none;
    color: white;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 11px;
    word-wrap: break-word
}

.attribute__title{
    color: white;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 11px;
    word-wrap: break-word;
    margin-top: 13px;
}

.attribute

.attribute {
    &__item {
        display: flex;
    }
    &__input-group {
        display: flex;
        flex-direction: column;
    }
    &__input {
        width: 220px;
        height: 30px;
        border-radius: 5px;
        margin-right: 10px;
        border: none;
    }
    &__button{
        text-decoration: none;
        color: #0FC5FF;
        font-size: 9px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        line-height: 11px;
        word-wrap: break-word;
        margin-top: 18px;
        cursor: pointer;
    }
    &__container{
        margin-bottom: 10px;
    }

    &__delete {
        margin-top: 37px;
        &-btn {
            cursor: pointer;
        }
    }
}




