@import "sidebar";
@import "top-menu";
@import "table";

* {
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 181px;
}

.wrapper {
    display: flex;
}

.main-content {
    width: calc(100vw - var(--sidebar-width));
    height: 100vh;
    background-color: #F2F6FA;
}




