.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #374050;

    &__header {
        display: flex;

        &-logo-wrapper {
            width: 79px;
            height: 59px;
            background: white;
            border-bottom-right-radius: 20px;
            position: relative;
        }
        &-logo {
            margin-top: 18px;
            margin-left: 13px;
        }

        &-text {
            color: white;
            font-size: 11px;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            line-height: 11px;
            word-wrap: break-word;
            width: 60px;
            height: 33px;
            margin-top: 7px;
            margin-left: 12px;
        }
    }

    &__menu {
        margin-top: 13px;
        margin-left: 34px;

        .menu {
            &__list {
                list-style: none;
            }
            &__link {
                color: rgba(255, 255, 255, 0.70);
                font-size: 12px;
                font-family: Roboto, sans-serif;
                font-weight: 400;
                line-height: 11px;
                word-wrap: break-word;
                text-decoration: none;
            }
        }
    }
}
